@import 'root/palette';

header {
    height: 60px;
    width: 100%;
    background: var(--primaryDark);
    color: var(--primaryLight);
    display: flex;
    justify-content: center;
    padding: 0px 30px;
    flex-direction: column;
}
