* {
    box-sizing: border-box;
}
input:focus, select:focus {
    outline: 0;
}
a {
    text-decoration: none;
}
section.root {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}